.DashboardMenu {
  background-color: #fafafa;

  &__label {
    color: #616161;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.71;
  }

  &__open {
    padding-top: 35px;
    overflow: hidden;
  }

  &__hide {
    display: none;
  }
}
