$drawerWidth: 260px;

.DashboardPage {
  flex-grow: 1;
  height: 100%;
  z-index: 1;
  overflow-x: hidden;
  position: relative !important;
  display: flex;
  padding: 0 !important;

  .app-bar {
    z-index: 1201 !important;
    transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,
                margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    background-color: white !important;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.12);
    width: calc(100% - 73px);
    padding-left: 0;

    &.MuiPaper-elevation4 {
      box-shadow: none !important;
    }

    .MuiToolbar-root {
      justify-content: space-between;
      padding: 0 10px;
    }
  }

  .app-bar-shift {
    margin-left: $drawerWidth;
    width: calc(100% - 261px) !important;
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,
                margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  }

  .menu-button {
    margin-left: 12px !important;
    margin-right: 36px !important;
  }

  .hide {
    display: none !important;
  }

  .drawer-paper {
    overflow: visible;
    position: relative !important;
    white-space: nowrap;
    width: $drawerWidth;
    background-color: #fafafa;
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms !important;

    .close-drawer {
      position: absolute;
      height: 40px;
      width: 5px;
      border-radius: 2.5px;
      background-color: #5c6bc0;
      top: 50%;
      transform: translate(50%);
      left: 101%;
      cursor: pointer;
    }
  }

  .drawer-paper-close {
    transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    width: 56px;
    @media (min-width: 600px) {
      width: 72px;
    };
  }

  .toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 8px;
  }

  .app-logo {
    margin-left: 25px;
    margin-top: 16px;
    height: 28px;
    width: 35px;
  }

  .content {
    padding-top: 16px;
    margin-top: 63px !important;
    flex-grow: 1;
    background-color: white;
    overflow: scroll;
  };
}
