.EventPage {
  &__chart {

    &-title {
      font-size: 24px;
      font-weight: normal;
      line-height: 1.33;
    }

    &-subtitle {
      font-size: 14px;
      margin-top: 5px;
      color: rgba(0, 0, 0, .54);
    }
  }
}
