.Header-root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 20px;
  flex-grow: 1;
  border-bottom: 1px solid #d1d1d1;
  background-color: white;
  display: flex;
  align-items: center;
  z-index: 1000;
  justify-content: space-between;
  box-sizing: border-box;

  .logo {
    width: 50px
  }

  .title {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71;
  }

}
