.login-page__component {

  &__sign-in-with-google {
    margin-left: 24px;
    height: 28px;
    display: flex;
    color: #536dfe;
    padding: 0 0 0 38px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    justify-content: space-between;
    background: none no-repeat left center;
    text-align: left;

    &:hover{
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
  }


}
